* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
      rgb(92, 126, 197) 0%,
      rgb(0, 0, 0) 100%
    );
  }

  .tudo {
    display: flex;
    width: 1350px;
    flex-flow: column end;
    height: 100vh;
  
  }

  .texto {
    margin-left: 20px;
  }
  
  .ul{
    width: 200px;
  
  }


  li{
    
  width: 50vh;
 margin-top: 200px;
  list-style: none;
  font-size: 25px;
  text-align: center;
  }
  .board {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
  }
  .X {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   display: flex;
  }
  
  .o{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   
  }

  .X:nth-child(1),
  .o:nth-child(2),
  .o:nth-child(3) {
    border-top: none;
  }
  
  .X:nth-child(1),
  .o:nth-child(4),
  .o:nth-child(7) {
    border-left: none;
  }
  
  .o:nth-child(7),
  .X:nth-child(8),
  .o:nth-child(9) {
    border-bottom: none;
  }
  
  .o:nth-child(3),
  .X:nth-child(6),
  .o:nth-child(9) {
    border-right: none;
  }
  